name: Run API unit-tests

on:
  push:
  pull_request:
    branches:
      - main
      - staging

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: yarn install

      - name: Start dependencies
        run: make start-deps

      - name: Build Next.js application
        run: yarn build
        
      - name: Start application
        run: yarn start &> app.log &
        
      - name: Wait for application to start
        run: "tail -f app.log | grep -q 'ready started server on 0.0.0.0:3000, url: http://localhost:3000'"

      - name: Run tests
        run: yarn test:unit
